/* CSS mappa */
div#mapholder {
  text-align: center;
}
div#geolocation{
	/*height: 40vh;*/
	height: 40%;
	width: 100%;
	margin: 0px 0px 4px 0px;
}

.geolocation-wrap {
}

.round {
}

.geolocation-footer {
}

/* cancellano le condizioni d'uso nella mappa*/
a[href^="http://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span , .gm-style-cc a{
    display:none;
}
/*.gmnoprint div {
    background:none !important;
}*/

/* Nascoste i settings disattivati */
.nascosto  {
	display: none;
}

/* Nasconse la option "via..." nella select
   e i tool avanzati*/
option.viax, #tools.avanzate{
	display:none;
}

/* preloader image on page load */
/*#preloader.onload {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: #333 url('../icon/ajax_loader_blue_512.gif') no-repeat center center;
	background-size: 80px 80px;

}*/

/*Istruzioni preferiti*/
/*#section1.collapsible.button {
	  background: #eee url('../icon/down4-128.png') no-repeat center center;
	  background-size: contain;
	  margin-top:0px;
	  margin-bottom:0px;
}

.rotate{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#guide {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-collapse: collapse;
  border: 1px solid #666;
  border-radius: 6px;
}*/

/*centra la via in cui hai parcheggiato*/
#park_id2{
  text-align: center;
}

/*********************************************/
/* 		Stile per animazione macchinina 	     */
/*********************************************/
div#animation {
    width: 150px;
	height: 100px;
	background-size:70%;
	position: relative;
	left:1500px;
	-webkit-animation: myfirst 10s ease-out 1s;
	animation: myfirst 10s ease-out 1s;
	background-image: url('../icon/lavaggio2.jpg');
	background-repeat: no-repeat;
	/*transform:scale(-1,1) translateX(30px);-webkit-transform:scale(-1,1) translateX(30px);-moz-transform:scale(-1,1) translateX(30px);-o-transform:scale(-1,1) translateX(30px);*/
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {

	0%  {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(2px, 1px) rotate(0deg); }
	1%  {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-1px, -2px) rotate(-1deg); }
	2%  {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-3px, 0px) rotate(1deg); }
	3%  {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(0px, 2px) rotate(0deg); }
	4%  {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(1px, -1px) rotate(1deg); }
	5%  {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-1px, 2px) rotate(-1deg); }
	6%  {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-3px, 1px) rotate(0deg); }
	7%  {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(2px, 1px) rotate(-1deg); }
	8%  {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-1px, -1px) rotate(1deg); }
	9%  {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(2px, 2px) rotate(0deg); }
	10% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(1px, -2px) rotate(-1deg); }
	11% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-1px, -2px) rotate(-1deg); }
	12% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-3px, 0px) rotate(1deg); }
	13% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(0px, 2px) rotate(0deg); }
	14% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(1px, -1px) rotate(1deg); }
	15% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-1px, 2px) rotate(-1deg); }
	16% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-3px, 1px) rotate(0deg); }
	17% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(2px, 1px) rotate(-1deg); }
	18% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-1px, -1px) rotate(1deg); }
	19% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(2px, 2px) rotate(0deg); }
	20% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(1px, -2px) rotate(-1deg); }
	21% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-1px, -2px) rotate(-1deg); }
	22% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-3px, 0px) rotate(1deg); }
	23% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(0px, 2px) rotate(0deg); }
	24% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(1px, -1px) rotate(1deg); }
	25% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-1px, 2px) rotate(-1deg); }
	26% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-3px, 1px) rotate(0deg); }
	27% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(2px, 1px) rotate(-1deg); }
	28% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-1px, -1px) rotate(1deg); }
	29% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(2px, 2px) rotate(0deg); }
	30% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(1px, -2px) rotate(-1deg); }
	31% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-1px, -2px) rotate(-1deg); }
	32% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-3px, 0px) rotate(1deg); }
	33% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(0px, 2px) rotate(0deg); }
	34% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(1px, -1px) rotate(1deg); }
	35% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-1px, 2px) rotate(-1deg); }
	36% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-3px, 1px) rotate(0deg); }
	37% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(2px, 1px) rotate(-1deg); }
	38% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-1px, -1px) rotate(1deg); }
	39% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(2px, 2px) rotate(0deg); }
	40% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(1px, -2px) rotate(-1deg); }
	41% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-1px, -2px) rotate(-1deg); }
	42% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-3px, 0px) rotate(1deg); }
	43% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(0px, 2px) rotate(0deg); }
	44% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(1px, -1px) rotate(1deg); }
	45% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-1px, 2px) rotate(-1deg); }
	46% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-3px, 1px) rotate(0deg); }
	47% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(2px, 1px) rotate(-1deg); }
	48% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(-1px, -1px) rotate(1deg); }
	49% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(2px, 2px) rotate(0deg); }
	50% {left:0px; -webkit-transform: scale(-1,1) translateX(30px) translate(1px, -2px) rotate(-1deg); }
    100%  	{left:1500px; -webkit-transform: scale(-1,1)}
}

/*dimensioni caratteri*/
#afui select, #afui textarea, #afui input[type=text], #afui input[type=search], #afui input[type=password], #afui input[type=datetime], #afui input[type=datetime-local], #afui input[type=date], #afui input[type=month], #afui input[type=time], #afui input[type=week], #afui input[type=number], #afui input[type=email], #afui input[type=url], #afui input[type=tel], #afui input[type=color], #afui .input-group{
	font-size: 16px;
}

/*dimensioni bottoni sulla home*/
#afui .button-home {
  position: relative;
  display: inline-block;
  padding: 12px 10px;
  /*margin-top: 0px;
  margin-bottom: 0px;
  border: none;*/
  border-top: 1px solid grey;
  /*border-bottom: 1px solid grey;*/
  /*border-radius: none;*/
  /*margin: 2px 0px 2px 0px;*/
  margin: 2px 0px;
  font-weight: 700;
  color: white;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background-color: rgba(0, 133, 205, 0.69);
  text-decoration: none;
  z-index: 2;
  font-size: 16px;
  opacity: 0.5;
}

#afui .button-home.noOpacity:active, #afui  .button:active{
	background-color: gray;
	opacity: 0.7;
}


#afui .noOpacity{
	opacity:1;
}

#afui select#id_via, #afui select#toAdd {
  /*margin: 4px 0px 2px 0px;*/
  margin: 0px;
  /*i padding non funzionano*/
  padding-right: 2px;
  padding-left: 2px;
  border-radius: 0px;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  background-color: transparent;
  height: inherit;
  color: inherit;
  font-size: 18px;
}

#afui #add.button-home {
  border: none;
  margin: 0px;
  padding-top: 14px;
  padding-bottom: 13px;
  }

#afui{
  background: url(../images/porticoOpacity.jpg) no-repeat;
  background-size: cover;
  color: white;
}

#afui .header{
	opacity: 0.9;
	height:50px;
}

#afui select, #afui input[type=time], #contenuto{
	color: black;
}

#afui .margin-top {
	margin-top: 6px;
}

#afui #listaLavaggio {
  font-size: large;
}

#afui .divPref{
	margin-top: 10px;
}

#afui .select-container {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
  /* padding-top: 12px; */
  /* padding-bottom: 12px; */
  height: 45px;
}

#afui .overlay {
  width: 100%;
  height: 120%;
  position: absolute;
  top: 0px;
  z-index: 1000;
  opacity: 0.8;
  background-color: rgb(203, 203, 203);
}

#afui .pop-up{
  text-align: center;
  color: black;
  width: 70%;
  background-color: white;
  /* border: 0.5px solid black; */
  border-radius: 5px;
  position: absolute;
  left: 15%;
  top: 35%;
  z-index: 1001;
  padding: 10px 0px 0px 0px;
}

#afui .button-popup {
  position: relative;
  display: inline-block;
  padding: 2.7% 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  /*margin: 8px 0;*/
  font-weight: 700;
  color: #000;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background-color: #eee;
  /* border: 1px solid #666; */
  text-decoration: none;
  z-index: 2;
  width: 50%;
}

#afui .button-popup.left{
  border-bottom-left-radius: 5px;
    border-right: 1px solid rgb(212, 212, 212);

}

#afui .button-popup.right{
  border-bottom-right-radius: 5px;
  border-left: 1px solid rgb(212, 212, 212);
}

#afui .header h1{
	font-size: 25px;
}

#afui h2{
	height: initial;
	/*margin-bottom: 0px;
  background-color: white;
  opacity: 0.7;*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
  margin: 8px 0px;
}

/*body{
	font-size:18px;
}*/

.button-home.icon:before {
  font-family: IcoMoon;
  speak: none;
  font-style: normal;
  font-weight: 400!important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: inherit;
  position: absolute;
  font-size: 1.5em;
  left: 1%;
  /* vertical-align: middle; */
  /* top: 50%; */
  left: 3%;
  top: 18%;
}

#afui .header .button.icon{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.header .button.icon:before {
  padding-left: 6px;
}

.icon.big:before {
  font-size: 2em;
}

#afui label{
	font-size: 16px;
}

#afui table{
  width: 100%;
  border: none;
}
#afui td{
  border: none;
}

#afui #listaLavaggio{
  padding: 15px;
}

#afui #listaLavaggio::after{
  content: "";
  background-color: #0088D1;
  border-radius: 8px;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.prefstar{
  background-image: url(http://png-3.findicons.com/files/icons/719/crystal_clear_actions/128/bookmark_256.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 97% 10%;
  -webkit-filter: grayscale(100%);
}

#afui h2:active {
  overflow: visible !important;
  white-space: normal !important;
  position: absolute;
  top: 60px;
}
