/*
	Centra la mappa
*/
div#mapholder {
  text-align: center;
}

/*
	Nascoste i settings disattivati
*/
.nascosto  {
	display: none;
}

/*
	Nasconse la option "via..." nella select
*/
option.viax {
	display:none;
}

/*
	Nasconse i tool avanzati
*/
#tools.avanzate{
	display:none;
}

.unterzo{
	width:30%;
}

select#toAdd.dueterzi{
	width:68%;
}

/*
	preloader image on page load
*/
#preloader.onload {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
/*	overflow: visible; */
/*	background: #333 url('http://www.mytreedb.com/uploads/mytreedb/loader/ajax_loader_blue_512.gif') no-repeat center center; */
	background: #333 url(../icon/ajax_loader_blue_512.gif) no-repeat center center;
	background-size: 80px 80px;
	
}

#section1.collapsible.button {
	  background: #eee url('../icon/down4-128.png') no-repeat center center;
	  background-size: contain;
/*	  position: absolute; */
	  margin-top:0px;
	  margin-bottom:0px;
}

.rotate{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#guide {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-collapse: collapse;
  border: 1px solid #666;
  border-radius: 6px;
} 

#park_id2.red {
  color: red;
} 

.geolocation-wrap {
	width: 100%; 
	height: 90%;
	border: 3px;
	border-color: rgb(0, 136, 209);
}

.round {
	width: 100%; 
	height: 100%;
	border-radius: 20px;
	-webkit-border-radius: 20px; /*safari, chrome */
}

.geolocation-footer {
	margin: 5px;
}

.map_park {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:17px 17px;
	text-decoration:none;
	float: right;
}

.map_park:active {
	position:relative;
	top:1px;
}
